<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.TypeApi.dao.AppDao">

    <resultMap id="BaseResultMap" type="com.TypeApi.entity.App" >
        <result column="id" property="id" />
        <result column="key" property="keyKey" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="logo" property="logo" />
        <result column="keywords" property="keywords" />
        <result column="description" property="description" />
        <result column="announcement" property="announcement" />
        <result column="mail" property="mail" />
        <result column="website" property="website" />
        <result column="currencyName" property="currencyName" />
        <result column="version" property="version" />
        <result column="versionCode" property="versionCode" />
        <result column="versionIntro" property="versionIntro" />
        <result column="androidUrl" property="androidUrl" />
        <result column="iosUrl" property="iosUrl" />
        <result column="adpid" property="adpid" />
        <result column="field1" property="field1" />
        <result column="field2" property="field2" />
        <result column="silence" property="silence" />
        <result column="forceUpdate" property="forceUpdate" />
        <result column="issue" property="issue" />
        <result column="updateType" property="updateType" />
    </resultMap>

    <sql id="Base_Column_List">
        `id`,
        `key`,
        `name`,
        `type`,
        `logo`,
        `keywords`,
        `description`,
        `announcement`,
        `mail`,
        `website`,
        `currencyName`,
        `version`,
        `versionCode`,
        `versionIntro`,
        `androidUrl`,
        `iosUrl`,
        `adpid`,
        `field1`,
        `field2`,
        `silence`,
        `forceUpdate`,
        `issue`,
        `updateType`
    </sql>

    <!-- 插入数据 -->
    <insert id="insert" parameterType="com.TypeApi.entity.App">
        INSERT INTO ${prefix}_app
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test ='null != id'>
                `id`,
            </if>
            <if test ='null != keyKey'>
                `key`,
            </if>
            <if test ='null != name'>
                `name`,
            </if>
            <if test ='null != type'>
                `type`,
            </if>
            <if test ='null != logo'>
                `logo`,
            </if>
            <if test ='null != keywords'>
                `keywords`,
            </if>
            <if test ='null != description'>
                `description`,
            </if>
            <if test ='null != announcement'>
                `announcement`,
            </if>
            <if test ='null != mail'>
                `mail`,
            </if>
            <if test ='null != website'>
                `website`,
            </if>
            <if test ='null != currencyName'>
                `currencyName`,
            </if>
            <if test ='null != version'>
                `version`,
            </if>
            <if test ='null != versionCode'>
                `versionCode`,
            </if>
            <if test ='null != versionIntro'>
                `versionIntro`,
            </if>
            <if test ='null != androidUrl'>
                `androidUrl`,
            </if>
            <if test ='null != iosUrl'>
                `iosUrl`,
            </if>
            <if test ='null != adpid'>
                `adpid`,
            </if>
            <if test ='null != field1'>
                `field1`,
            </if>
            <if test ='null != field2'>
                `field2`,
            </if>
            <if test ='null != silence'>
                `silence`,
            </if>
            <if test ='null != forceUpdate'>
                `forceUpdate`,
            </if>
            <if test ='null != issue'>
                `issue`,
            </if>
            <if test ='null != updateType'>
                `updateType`
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test ='null != id'>
                #{id},
            </if>
            <if test ='null != keyKey'>
                #{keyKey},
            </if>
            <if test ='null != name'>
                #{name},
            </if>
            <if test ='null != type'>
                #{type},
            </if>
            <if test ='null != logo'>
                #{logo},
            </if>
            <if test ='null != keywords'>
                #{keywords},
            </if>
            <if test ='null != description'>
                #{description},
            </if>
            <if test ='null != announcement'>
                #{announcement},
            </if>
            <if test ='null != mail'>
                #{mail},
            </if>
            <if test ='null != website'>
                #{website},
            </if>
            <if test ='null != currencyName'>
                #{currencyName},
            </if>
            <if test ='null != version'>
                #{version},
            </if>
            <if test ='null != versionCode'>
                #{versionCode},
            </if>
            <if test ='null != versionIntro'>
                #{versionIntro},
            </if>
            <if test ='null != androidUrl'>
                #{androidUrl},
            </if>
            <if test ='null != iosUrl'>
                #{iosUrl},
            </if>
            <if test ='null != adpid'>
                #{adpid},
            </if>
            <if test ='null != field1'>
                #{field1},
            </if>
            <if test ='null != field2'>
                #{field2},
            </if>
            <if test ='null != silence'>
                #{silence},
            </if>
            <if test ='null != forceUpdate'>
                #{forceUpdate},
            </if>
            <if test ='null != issue'>
                #{issue},
            </if>
            <if test ='null != updateType'>
                #{updateType}
            </if>
        </trim>
    </insert>

    <!-- 批量插入数据 -->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO ${prefix}_app ( <include refid="Base_Column_List" /> ) VALUES
        <foreach collection="list" item="curr" index="index" separator=",">
            (
            #{curr.id},
            #{curr.keyKey},
            #{curr.name},
            #{curr.type},
            #{curr.logo},
            #{curr.keywords},
            #{curr.description},
            #{curr.announcement},
            #{curr.mail},
            #{curr.website},
            #{curr.currencyName},
            #{curr.version},
            #{curr.versionCode},
            #{curr.versionIntro},
            #{curr.androidUrl},
            #{curr.iosUrl},
            #{curr.adpid},
            #{curr.field1},
            #{curr.field2},
            #{curr.silence},
            #{curr.forceUpdate},
            #{curr.issue},
            #{curr.updateType}
            )
        </foreach>
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.TypeApi.entity.App">
        UPDATE ${prefix}_app
        <set>
            <if test ='null != keyKey'>`key` = #{keyKey},</if>
            <if test ='null != name'>`name` = #{name},</if>
            <if test ='null != type'>`type` = #{type},</if>
            <if test ='null != logo'>`logo` = #{logo},</if>
            <if test ='null != keywords'>`keywords` = #{keywords},</if>
            <if test ='null != description'>`description` = #{description},</if>
            <if test ='null != announcement'>`announcement` = #{announcement},</if>
            <if test ='null != mail'>`mail` = #{mail},</if>
            <if test ='null != website'>`website` = #{website},</if>
            <if test ='null != currencyName'>`currencyName` = #{currencyName},</if>
            <if test ='null != version'>`version` = #{version},</if>
            <if test ='null != versionCode'>`versionCode` = #{versionCode},</if>
            <if test ='null != versionIntro'>`versionIntro` = #{versionIntro},</if>
            <if test ='null != androidUrl'>`androidUrl` = #{androidUrl},</if>
            <if test ='null != iosUrl'>`iosUrl` = #{iosUrl},</if>
            <if test ='null != adpid'>`adpid` = #{adpid},</if>
            <if test ='null != field1'>`field1` = #{field1},</if>
            <if test ='null != field2'>`field2` = #{field2},</if>
            <if test ='null != silence'>`silence` = #{silence},</if>
            <if test ='null != forceUpdate'>`forceUpdate` = #{forceUpdate},</if>
            <if test ='null != issue'>`issue` = #{issue},</if>
            <if test ='null != updateType'>`updateType` = #{updateType}</if>
        </set>
        WHERE `id` = #{id}
    </update>

    <!-- 删除 -->
    <delete id="delete">
        DELETE FROM ${prefix}_app
        WHERE `id` = #{key}
    </delete>

    <!-- 批量删除 -->
    <delete id="batchDelete" parameterType = "java.util.List">
        DELETE FROM ${prefix}_app WHERE id IN
        <foreach collection="list"  item="item" open="(" separator="," close=")"  >
            #{item}
        </foreach>
    </delete>

    <!-- 主键查询 -->
    <select id="selectByKey" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM ${prefix}_app
        WHERE `key` = #{key}
    </select>

    <!-- 条件查询 -->
    <select id="selectList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM ${prefix}_app
        <where>
            <if test ='null != id'>
                and `id` = #{id}
            </if>
            <if test ='null != keyKey'>
                and `key` = #{keyKey}
            </if>
            <if test ='null != name'>
                and `name` = #{name}
            </if>
            <if test ='null != type'>
                and `type` = #{type}
            </if>
            <if test ='null != logo'>
                and `logo` = #{logo}
            </if>
            <if test ='null != keywords'>
                and `keywords` = #{keywords}
            </if>
            <if test ='null != description'>
                and `description` = #{description}
            </if>
            <if test ='null != announcement'>
                and `announcement` = #{announcement}
            </if>
            <if test ='null != mail'>
                and `mail` = #{mail}
            </if>
            <if test ='null != website'>
                and `website` = #{website}
            </if>
            <if test ='null != currencyName'>
                and `currencyName` = #{currencyName}
            </if>
            <if test ='null != version'>
                and `version` = #{version}
            </if>
            <if test ='null != versionCode'>
                and `versionCode` = #{versionCode}
            </if>
            <if test ='null != versionIntro'>
                and `versionIntro` = #{versionIntro}
            </if>
            <if test ='null != androidUrl'>
                and `androidUrl` = #{androidUrl}
            </if>
            <if test ='null != iosUrl'>
                and `iosUrl` = #{iosUrl}
            </if>
            <if test ='null != field1'>
                and `field1` = #{field1}
            </if>
            <if test ='null != field2'>
                and `field2` = #{field2}
            </if>
            <if test ='null != silence'>
                and `silence` = #{silence}
            </if>
            <if test ='null != forceUpdate'>
                and `forceUpdate` = #{forceUpdate}
            </if>
            <if test ='null != issue'>
                and `issue` = #{issue}
            </if>
            <if test ='null != updateType'>
                and `updateType` = #{updateType}
            </if>
        </where>
    </select>

    <!-- 分页条件查询 -->
    <select id="selectPage" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM ${prefix}_app
        <where>
            <if test ='null != app.id'>
                and `id` = #{app.id}
            </if>
            <if test ='null != app.keyKey'>
                and `key` = #{app.keyKey}
            </if>
            <if test ='null != app.name'>
                and `name` = #{app.name}
            </if>
            <if test ='null != app.type'>
                and `type` = #{app.type}
            </if>
            <if test ='null != app.logo'>
                and `logo` = #{app.logo}
            </if>
            <if test ='null != app.keywords'>
                and `keywords` = #{app.keywords}
            </if>
            <if test ='null != app.description'>
                and `description` = #{app.description}
            </if>
            <if test ='null != app.announcement'>
                and `announcement` = #{app.announcement}
            </if>
            <if test ='null != app.mail'>
                and `mail` = #{app.mail}
            </if>
            <if test ='null != app.website'>
                and `website` = #{app.website}
            </if>
            <if test ='null != app.currencyName'>
                and `currencyName` = #{app.currencyName}
            </if>
            <if test ='null != app.version'>
                and `version` = #{app.version}
            </if>
            <if test ='null != app.versionCode'>
                and `versionCode` = #{app.versionCode}
            </if>
            <if test ='null != app.versionIntro'>
                and `versionIntro` = #{app.versionIntro}
            </if>
            <if test ='null != app.androidUrl'>
                and `androidUrl` = #{app.androidUrl}
            </if>
            <if test ='null != app.iosUrl'>
                and `iosUrl` = #{app.iosUrl}
            </if>
            <if test ='null != app.field1'>
                and `field1` = #{app.field1}
            </if>
            <if test ='null != app.field2'>
                and `field2` = #{app.field2}
            </if>
            <if test ='null != app.silence'>
                and `silence` = #{app.silence}
            </if>
            <if test ='null != app.forceUpdate'>
                and `forceUpdate` = #{app.forceUpdate}
            </if>
            <if test ='null != app.issue'>
                and `issue` = #{app.issue}
            </if>
            <if test ='null != app.updateType'>
                and `updateType` = #{app.updateType}
            </if>
        </where>
        limit #{page,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
    </select>

    <!-- 总量查询 -->
    <select id="total" resultType="java.lang.Integer">
        SELECT count(*) FROM ${prefix}_app
        <where>
            <if test ='null != id'>
                and `id` = #{id}
            </if>
            <if test ='null != keyKey'>
                and `key` = #{keyKey}
            </if>
            <if test ='null != name'>
                and `name` = #{name}
            </if>
            <if test ='null != type'>
                and `type` = #{type}
            </if>
            <if test ='null != logo'>
                and `logo` = #{logo}
            </if>
            <if test ='null != keywords'>
                and `keywords` = #{keywords}
            </if>
            <if test ='null != description'>
                and `description` = #{description}
            </if>
            <if test ='null != announcement'>
                and `announcement` = #{announcement}
            </if>
            <if test ='null != mail'>
                and `mail` = #{mail}
            </if>
            <if test ='null != website'>
                and `website` = #{website}
            </if>
            <if test ='null != currencyName'>
                and `currencyName` = #{currencyName}
            </if>
            <if test ='null != version'>
                and `version` = #{version}
            </if>
            <if test ='null != versionCode'>
                and `versionCode` = #{versionCode}
            </if>
            <if test ='null != versionIntro'>
                and `versionIntro` = #{versionIntro}
            </if>
            <if test ='null != androidUrl'>
                and `androidUrl` = #{androidUrl}
            </if>
            <if test ='null != iosUrl'>
                and `iosUrl` = #{iosUrl}
            </if>
            <if test ='null != field1'>
                and `field1` = #{field1}
            </if>
            <if test ='null != field2'>
                and `field2` = #{field2}
            </if>
            <if test ='null != silence'>
                and `silence` = #{silence}
            </if>
            <if test ='null != forceUpdate'>
                and `forceUpdate` = #{forceUpdate}
            </if>
            <if test ='null != issue'>
                and `issue` = #{issue}
            </if>
            <if test ='null != updateType'>
                and `updateType` = #{updateType}
            </if>
        </where>
    </select>
</mapper>