<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.TypeApi.dao.CommentsDao">

    <resultMap id="BaseResultMap" type="com.TypeApi.entity.Comments" >
        <result column="id" property="id" />
        <result column="cid" property="cid" />
        <result column="uid" property="uid" />
        <result column="text" property="text" />
        <result column="images" property="images" />
        <result column="ip" property="ip" />
        <result column="parent" property="parent" />
        <result column="likes" property="likes" />
        <result column="all" property="all" />
        <result column="type" property="type" />
        <result column="created" property="created" />
        <result column="modified" property="modified" />
    </resultMap>

    <sql id="Base_Column_List">
        `id`
        ,
        `cid`,
        `uid`,
        `text`,
        `images`,
        `ip`,
        `parent`,
        `likes`,
        `all`,
        `type`,
        `created`,
        `modified`
    </sql>

    <!-- 插入数据 -->
    <insert id="insert" parameterType="com.TypeApi.entity.Comments" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO ${prefix}_comments
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test ='null != id'>
                `id`,
            </if>
            <if test ='null != cid'>
                `cid`,
            </if>
            <if test ='null != uid'>
                `uid`,
            </if>
            <if test ='null != text'>
                `text`,
            </if>
            <if test ='null != images'>
                `images`,
            </if>
            <if test ='null != ip'>
                `ip`,
            </if>
            <if test ='null != parent'>
                `parent`,
            </if>
            <if test ='null != likes'>
                `likes`,
            </if>
            <if test ='null != all'>
                `all`,
            </if>
            <if test ='null != type'>
                `type`,
            </if>
            <if test ='null != created'>
                `created`,
            </if>
            <if test ='null != modified'>
                `modified`
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test ='null != id'>
                #{id},
            </if>
            <if test ='null != cid'>
                #{cid},
            </if>
            <if test ='null != uid'>
                #{uid},
            </if>
            <if test ='null != text'>
                #{text},
            </if>
            <if test ='null != images'>
                #{images},
            </if>
            <if test ='null != ip'>
                #{ip},
            </if>
            <if test ='null != parent'>
                #{parent},
            </if>
            <if test ='null != likes'>
                #{likes},
            </if>
            <if test ='null != all'>
                #{all},
            </if>
            <if test ='null != type'>
                #{type},
            </if>
            <if test ='null != created'>
                #{created}
            </if>
            <if test ='null != modified'>
                #{modified}
            </if>
        </trim>
    </insert>

    <!-- 批量插入数据 -->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO ${prefix}_comments ( <include refid="Base_Column_List" /> ) VALUES
        <foreach collection="list" item="curr" index="index" separator=",">
            (
            #{curr.id},
            #{curr.cid},
            #{curr.uid},
            #{curr.text},
            #{curr.images},
            #{curr.ip},
            #{curr.parent},
            #{curr.likes},
            #{curr.all},
            #{curr.type},
            #{curr.created},
            #{curr.modified}
            )
        </foreach>
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.TypeApi.entity.Comments">
        UPDATE ${prefix}_comments
        <set>
            <if test ='null != id'>`id` = #{id},</if>
            <if test ='null != cid'>`cid` = #{cid},</if>
            <if test ='null != uid'>`uid` = #{uid},</if>
            <if test ='null != text'>`text` = #{text},</if>
            <if test ='null != images'>`images` = #{images},</if>
            <if test ='null != ip'>`ip` = #{ip},</if>
            <if test ='null != parent'>`parent` = #{parent},</if>
            <if test ='null != likes'>`likes` = #{likes},</if>
            <if test ='null != all'>`all` = #{all},</if>
            <if test ='null != type'>`type` = #{type},</if>
            <if test ='null != created'>`created` = #{created},</if>
            <if test ='null != modified'>`modified` = #{modified}</if>
        </set>
        WHERE `id` = #{id}
    </update>

    <!-- 删除 -->
    <delete id="delete">
        DELETE FROM ${prefix}_comments
        WHERE `id` = #{key}
    </delete>

    <!-- 批量删除 -->
    <delete id="batchDelete" parameterType = "java.util.List">
        DELETE FROM ${prefix}_comments WHERE id IN
        <foreach collection="list"  item="item" open="(" separator="," close=")"  >
            #{item}
        </foreach>
    </delete>

    <!-- 主键查询 -->
    <select id="selectByKey" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM ${prefix}_comments
        WHERE `id` = #{key}
    </select>

    <!-- 条件查询 -->
    <select id="selectList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM ${prefix}_comments
        <where>
            <if test ='null != id'>
                and `id` = #{id}
            </if>
            <if test ='null != cid'>
                and `cid` = #{cid}
            </if>
            <if test ='null != uid'>
                and `uid` = #{uid}
            </if>
            <if test ='null != text'>
                and `text` = #{text}
            </if>
            <if test ='null != images'>
                and `images` = #{images}
            </if>
            <if test ='null != ip'>
                and `ip` = #{ip}
            </if>
            <if test ='null != parent'>
                and `parent` = #{parent}
            </if>
            <if test ='null != likes'>
                and `likes` = #{likes}
            </if>
            <if test ='null != all'>
                and `all` = #{all}
            </if>
            <if test ='null != type'>
                and `type` = #{type}
            </if>
            <if test ='null != created'>
                and `created` = #{created}
            </if>
            <if test ='null != modified'>
                and `modified` = #{modified}
            </if>
        </where>
    </select>

    <!-- 分页条件查询 -->
    <select id="selectPage" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM ${prefix}_comments
        <where>
            <if test ='null != comments.id'>
                and `id` = #{comments.id}
            </if>
            <if test ='null != comments.cid'>
                and `cid` = #{comments.cid}
            </if>
            <if test ='null != comments.uid'>
                and `uid` = #{comments.uid}
            </if>
            <if test ='null != comments.text'>
                and `text` = #{comments.text}
            </if>
            <if test ='null != comments.images'>
                and `images` = #{comments.images}
            </if>
            <if test ='null != comments.ip'>
                and ip != #{comments.images}
            </if>
            <if test ='null != comments.parent'>
                and `parent` = #{comments.parent}
            </if>
            <if test ='null != comments.likes'>
                and `likes` = #{comments.likes}
            </if>
            <if test ='null != comments.all'>
                and `all` = #{comments.all}
            </if>
            <if test ='null != comments.type'>
                and `type` = #{comments.type}
            </if>
            <if test ='null != comments.created'>
                and `created` = #{comments.created}
            </if>
            <if test ='null != comments.modified'>
                and `modified` = #{comments.modified}
            </if>
            <if test ='null != searchKey'>
                and CONCAT(IFNULL(`text`, '')) LIKE CONCAT('%', #{searchKey}, '%')
            </if>

        </where>
        <if test ='"" != order'>
            order by ${order}
        </if>
        limit #{page,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
    </select>

    <!-- 总量查询 -->
    <select id="total" resultType="java.lang.Integer">
        SELECT count(*) FROM ${prefix}_comments
        <where>
            <if test='null != comments.id'>
                and `id` = #{comments.id}
            </if>
            <if test='null != comments.cid'>
                and `cid` = #{comments.cid}
            </if>
            <if test='null != comments.uid'>
                and `uid` = #{comments.uid}
            </if>
            <if test='null != comments.text'>
                and `text` = #{comments.text}
            </if>
            <if test='null != comments.images'>
                and `images` = #{comments.images}
            </if>
            <if test='null != comments.ip'>
                and `ip` = #{comments.ip}
            </if>
            <if test='null != comments.parent'>
                and `parent` = #{comments.parent}
            </if>
            <if test='null != comments.likes'>
                and `likes` = #{comments.likes}
            </if>
            <if test='null != comments.all'>
                and `all` = #{comments.all}
            </if>
            <if test='null != comments.type'>
                and `type` = #{comments.type}
            </if>
            <if test='null != comments.created'>
                and `created` = #{comments.created}
            </if>
            <if test='null != comments.modified'>
                and `modified` = #{comments.modified}
            </if>
            <if test='null != searchKey'>
                and CONCAT(IFNULL(`text`, '')) LIKE CONCAT('%', #{searchKey}, '%')
            </if>
        </where>
    </select>
</mapper>