<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.TypeApi.dao.OrderDao">
    <resultMap id="BaseResultMap" type="com.TypeApi.entity.Order" >
        <result column="id" property="id" />
        <result column="orders" property="orders" />
        <result column="price" property="price" />
        <result column="paid" property="paid" />
        <result column="user_id" property="user_id" />
        <result column="boss_id" property="boss_id" />
        <result column="product" property="product" />
        <result column="product_name" property="product_name" />
        <result column="address" property="address" />
        <result column="specs" property="specs" />
        <result column="tracking_number" property="tracking_number" />
        <result column="created" property="created" />
    </resultMap>
    <sql id="Base_Column_List">
        `id`,
        `orders`,
        `price`,
        `paid`,
        `boss_id`,
        `user_id`,
        `product`,
        `product_name`,
        `specs`,
        `address`,
        `freight`,
        `tracking_name`,
        `isTracking`,
        `created`
    </sql>
    <!-- 插入-->
    <insert id="insert" parameterType="com.TypeApi.entity.Order" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO ${prefix}_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test ='null != id'>
                `id`,
            </if>
            <if test ='null != orders'>
                `orders`,
            </if>
            <if test ='null != price'>
                `price`,
            </if>
            <if test ='null != paid'>
                `paid`,
            </if>
            <if test ='null != user_id'>
                `user_id`,
            </if>
            <if test ='null != boss_id'>
                `boss_id`,
            </if>
            <if test ='null != product'>
                `product`,
            </if>
            <if test ='null != product_name'>
                `product_name`,
            </if>
            <if test ='null != specs'>
                `specs`,
            </if>
            <if test ='null != tracking_number'>
                `tracking_number`,
            </if>
            <if test ='null != isTracking'>
                `isTracking`,
            </if>
            <if test ='null != address'>
                `address`,
            </if>
            <if test ='null != freight'>
                `freight`,
            </if>
            <if test ='null != created'>
                `created`
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test ='null != id'>
                #{id},
            </if>
            <if test ='null != orders'>
                #{orders},
            </if>
            <if test ='null != price'>
                #{price},
            </if>
            <if test ='null != paid'>
                #{paid},
            </if>
            <if test ='null != user_id'>
                #{user_id},
            </if>
            <if test ='null != boss_id'>
                #{boss_id},
            </if>
            <if test ='null != product'>
                #{product},
            </if>
            <if test ='null != product_name'>
                #{product_name},
            </if>
            <if test ='null != specs'>
                #{specs},
            </if>
            <if test ='null != tracking_number'>
                #{tracking_number},
            </if>
            <if test ='null != isTracking'>
                #{isTracking},
            </if>
            <if test ='null != address'>
                #{address},
            </if>
            <if test ='null != freight'>
                #{freight},
            </if>
            <if test ='null != created'>
                #{created}
            </if>
        </trim>
    </insert>

    <!-- 批量插入数据 -->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO ${prefix}_order ( <include refid="Base_Column_List" /> ) VALUES
        <foreach collection="list" item="curr" index="index" separator=",">
            (
            #{curr.id},
            #{curr.orders},
            #{curr.price},
             #{curr.user_id},
            #{curr.product},
            #{curr.product_name},
            #{curr.specs},
            #{curr.address},
             #{curr.freight},
            #{curr.tracking_number},
             #{curr.isTracking},
            #{curr.created}
            )
        </foreach>
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.TypeApi.entity.Order">
        UPDATE ${prefix}_order
        <set>
            <if test ='null != price'>`price` = #{price},</if>
            <if test ='null != product'>`product` = #{product},</if>
            <if test ='null != product_name'>`product_name` = #{product_name},</if>
            <if test ='null != paid'>`paid` = #{paid},</if>
            <if test ='null != specs'>`specs` = #{specs},</if>
            <if test ='null != tracking_number'>`tracking_number` = #{tracking_number},</if>
            <if test ='null != isTracking'>`isTracking` = #{isTracking},</if>
            <if test ='null != address'>`address` = #{address},</if>
            <if test ='null != freight'>`freight` = #{freight},</if>
            <if test ='null != created'>`created` = #{created}</if>
        </set>
        WHERE `id` = #{id}
    </update>
    <!-- 删除 -->
    <delete id="delete">
        DELETE FROM ${prefix}_order
        WHERE `id` = #{key}
    </delete>

    <!-- 批量删除 -->
    <delete id="batchDelete" parameterType = "java.util.List">
        DELETE FROM ${prefix}_order WHERE id IN
        <foreach collection="list"  item="item" open="(" separator="," close=")"  >
            #{item}
        </foreach>
    </delete>

    <!-- 主键查询 -->
    <select id="selectByKey" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM ${prefix}_order
        WHERE `id` = #{key}
    </select>

    <!-- orders查询 -->
    <select id="selectByOrder" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM ${prefix}_order
        WHERE `orders` = #{orders}
    </select>

    <!-- 条件查询 -->
    <select id="selectList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM ${prefix}_order
        <where>
            <if test ='null != id'>
                and `id` = #{id}
            </if>
            <if test ='null != orders'>
                and `orders` = #{orders}
            </if>
            <if test ='null != product'>
                and `product` = #{product}
            </if>
            <if test ='null != product_name'>
                and `product_name` = #{product_name}
            </if>
            <if test ='null != paid'>
                and `paid` = #{paid}
            </if>
            <if test ='null != price'>
                and `price` = #{price}
            </if>
            <if test ='null != boss_id'>
                and `boss_id` = #{boss_id}
            </if>
            <if test ='null != user_id'>
                and `user_id` = #{user_id}
            </if>
            <if test ='null != orderKey'>
                and `order` = #{orderKey}
            </if>
            <if test ='null != tracking_number'>
                and `tracking_number` = #{tracking_number}
            </if>
            <if test ='null != isTracking'>
                and `isTracking` = #{isTracking}
            </if>
        </where>
    </select>
    <!-- 分页条件查询 -->
    <select id="selectPage" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM ${prefix}_order
        <where>
            <if test ='null != typechoOrder.id'>
                and `id` = #{typechoOrder.id}
            </if>
            <if test ='null != typechoOrder.orders'>
                and `orders` = #{typechoOrder.orders}
            </if>
            <if test ='null != typechoOrder.price'>
                and `price` = #{typechoOrder.price}
            </if>
            <if test ='null != typechoOrder.paid'>
                and `paid` = #{typechoOrder.paid}
            </if>
            <if test ='null != typechoOrder.product'>
                and `product` = #{typechoOrder.product}
            </if>
            <if test ='null != typechoOrder.user_id'>
                and `user_id` = #{typechoOrder.user_id}
            </if>
            <if test ='null != typechoOrder.boss_id'>
                and `boss_id` = #{typechoOrder.boss_id}
            </if>
            <if test ='null != typechoOrder.product_name'>
                and `product_name` = #{typechoOrder.product_name}
            </if>
            <if test ='null != typechoOrder.orderKey'>
                and `order` = #{typechoOrder.orderKey}
            </if>
            <if test ='null != typechoOrder.tracking_number'>
                and `tracking_number` = #{typechoOrder.tracking_number}
            </if>
            <if test ='null != typechoOrder.isTracking'>
                and `isTracking` = #{typechoOrder.isTracking}
            </if>

           
            <if test ='null != searchKey'>
                and CONCAT(IFNULL(`tracking_number`, ''), IFNULL(`product_name`, '')) LIKE CONCAT('%', #{searchKey}, '%')
            </if>
        </where>
        <if test="order != null and order != ''">
            order by CONCAT('`', #{order}, '`')
        </if>
        limit ${page}, ${pageSize}
    </select>
    <!-- 总量查询 -->
    <select id="total" resultType="java.lang.Integer">
        SELECT count(*) FROM ${prefix}_order
        <where>
            <if test ='null != id'>
                and `id` = #{id}
            </if>
            <if test ='null != orders'>
                and `orders` = #{orders}
            </if>
            <if test ='null != price'>
                and `price` = #{price}
            </if>
            <if test ='null != product'>
                and `product` = #{product}
            </if>
            <if test ='null != product_name'>
                and `product_name` = #{product_name}
            </if>
            <if test ='null != paid'>
                and `paid` = #{paid}
            </if>
            <if test ='null != orderKey'>
                and `order` = #{orderKey}
            </if>
            <if test ='null != tracking_number'>
                and `tracking_number` = #{tracking_number}
            </if>
        </where>
    </select>
        </mapper>