<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.RuleApi.dao.TypechoTaskDao">

    <resultMap id="BaseResultMap" type="com.RuleApi.entity.TypechoTask" >
        <result column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="comment" property="comment" />
        <result column="follow" property="follow" />
        <result column="contents" property="contents" />
        <result column="reward" property="reward" />
    </resultMap>

    <sql id="Base_Column_List">
        `id`,
        `uid`,
        `comment`,
        `follow`,
        `contents`,
        `reward`,
        `time`
    </sql>

    <!-- 插入数据 -->

    <insert id="insert" parameterType="com.RuleApi.entity.TypechoTask">
        INSERT INTO ${prefix}_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test ='null != id'>
                `id`,
            </if>
            <if test ='null != uid'>
                `uid`,
            </if>
            <if test ='null != comment'>
                `comment`,
            </if>
            <if test ='null != follow'>
                `follow`,
            </if>
            <if test ='null != contents'>
                `contents`,
            </if>
            <if test ='null != reward'>
                `reward`,
            </if>
            <if test ='null != time'>
                `time`
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test ='null != id'>
                #{id},
            </if>
            <if test ='null != uid'>
                #{uid},
            </if>
            <if test ='null != comment'>
                #{comment},
            </if>
            <if test ='null != follow'>
                #{follow},
            </if>
            <if test ='null != contents'>
                #{contents},
            </if>
            <if test ='null != reward'>
                #{reward},
            </if>
            <if test ='null != time'>
                #{time},
            </if>
        </trim>
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.RuleApi.entity.TypechoTask">
        UPDATE ${prefix}_task
        <set>
            <if test ='null != uid'>`uid` = #{uid},</if>
            <if test ='null != comment'>`comment` = #{comment},</if>
            <if test ='null != follow'>`follow` = #{follow},</if>
            <if test ='null != contents'>`contents` = #{contents},</if>
            <if test ='null != reward'>`reward` = #{reward}</if>
        </set>
        WHERE `id` = #{id}
    </update>


    <!-- 删除 -->
    <delete id="delete">
        DELETE FROM ${prefix}_task
        WHERE `id` = #{key}
    </delete>

    <!-- 批量删除 -->
    <delete id="batchDelete" parameterType = "java.util.List">
        DELETE FROM ${prefix}_task WHERE id IN
        <foreach collection="list"  item="item" open="(" separator="," close=")"  >
            #{item}
        </foreach>
    </delete>

    <!-- 主键查询 -->
    <select id="selectByKey" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM ${prefix}_task
        WHERE `id` = #{key}
    </select>

    <!-- 条件查询 -->
    <select id="selectList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM ${prefix}_task
        <where>
            <if test ='null != id'>
                and `id` = #{id}
            </if>
            <if test ='null != uid'>
                and `uid` = #{uid}
            </if>
            <if test ='null != comment'>
                and `comment` = #{comment}
            </if>
            <if test ='null != follow'>
                and `follow` = #{follow}
            </if>
            <if test ='null != contents'>
                and `contents` = #{contents}
            </if>
            <if test ='null != reward'>
                and `reward` = #{reward}
            </if>
            <if test ='null != time'>
                and `time` = #{time}
            </if>
        </where>
        order by time desc
    </select>

    <!-- 分页条件查询 -->
    <select id="selectPage" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM ${prefix}_task
        <where>
            <if test ='null != typechoTask.id'>
                and `id` = #{typechoTask.id}
            </if>
            <if test ='null != typechoTask.uid'>
                and `uid` = #{typechoTask.uid}
            </if>
            <if test ='null != typechoTask.comment'>
                and `comment` = #{typechoTask.comment}
            </if>
            <if test ='null != typechoTask.follow'>
                and `follow` = #{typechoTask.follow}
            </if>
            <if test ='null != typechoTask.contents'>
                and `contents` = #{typechoTask.contents}
            </if>
            <if test ='null != typechoTask.reward'>
                and `reward` = #{typechoTask.reward}
            </if>
            <if test ='null != typechoTask.time'>
                and `time` = #{typechoTask.time}
            </if>
        </where>
        order by created desc
        limit #{page,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
    </select>

    <!-- 总量查询 -->
    <select id="total" resultType="java.lang.Integer">
        SELECT count(*) FROM ${prefix}_task
        <where>
            <if test ='null != id'>
                and `id` = #{id}
            </if>
            <if test ='null != uid'>
                and `uid` = #{uid}
            </if>
            <if test ='null != comment'>
                and `comment` = #{comment}
            </if>
            <if test ='null != follow'>
                and `follow` = #{follow}
            </if>
            <if test ='null != contents'>
                and `contents` = #{contents}
            </if>
            <if test ='null != reward'>
                and `reward` = #{reward}
            </if>
            <if test ='null != time'>
                and `time` = #{time}
            </if>
        </where>
    </select>
</mapper>